<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ClickClack</title>
        <link rel="stylesheet" href="../styles/style.css">
    <body>
        <div class="wrapper">
            <div class="live">10 Lives</div>
            <div class="button">
                <button id="button__1" class="button__block"></button>
                <button id="button__2" class="button__block"></button>
                <button id="button__3" class="button__block"></button>
                <button id="button__4" class="button__block"></button>
            </div>
            <div class="result">
                60
            </div>
        </div>
		<script type="text/javascript" src="../scripts/gamelogic.js"></script>
    </body>
</html>